Pipfile.lock
.idea
__pycache__/
.DS_Store
venv/
.env
samples
data/processed/xrays
data/processed/volumes
data/test
models/checkpoints/*
!models/checkpoints/.gitkeep
perx2ct/checkpoints/*
!perx2ct/checkpoints/.gitkeep
wandb
logs
.venv/
envs/
data/app