torch==2.7.0
torchvision==0.22.0
torchio==0.20.8
numpy==2.0.2
scikit-learn==1.6.1
tqdm==4.67.1
PyYAML==6.0.2
h5py==3.12.1
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20
huggingface-hub==0.31.1